<%- include("../required/header") %>

        <!-- MAIN -->
        <main>
            <main id="stu-result">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bx-shadow ">
                            <% if(students){ %>                                
                            <p class="heading-search text-left pl-2"><strong>Search result for <span><%= students[0].name %></span> </strong></p>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bx-shadow1 bxx">
                            <br>
                            <div class="col-lg-6 col-md-12 col-sm-12  search-bx text-center cursor-pointer">
                                <img src="https://drive.google.com/uc?id=<%= students[0].photo %>" width="200px" height="200px" class="picture-profile"
                                    alt="" style="border-radius:50%;  border:3px solid #FF4B13;">
                                <h5 class="text-center font-weight-bold pb-3 search-tit mt-4"><%= students[0].name %></h5>
                            </div>

                            <div class="col-lg-6 col-md-12 col-sm-12 search-bx text-center" id="myDiv"
                                style="cursor:pointer">
                                <div class="dis" style="overflow-x:auto;">
                                    <div class=" proo pl-4 pr-4">
                                        <div class="table-responsive">
                                            <table class="tab">
                                                <thead>
                                                    <tr>
                                                        <th scope="row">Enrolment No.</th>
                                                        <td scope="row"><%= students[0].sid %></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Course</th>
                                                        <td scope="row"><%= students[0].specialization %></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Year</th>
                                                        <td scope="row"><%= students[0].year %></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Gender</th>
                                                        <td scope="row"><%= students[0].gender === "M" ? "Male" : "Female" %></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Email</th>
                                                        <td scope="row"><%= students[0].email %></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Block</th>
                                                        <% let displayedBlock = false; %>

                                                        <% if (allocate) { %>
                                                        <% for (let j = 0; j < allocate.length; j++) { %>
                                                            <% for (let i = 0; i < blocks.length; i++) { %>
                                                            <% if (allocate[j].sid == students[0].sid && allocate[j].blockid == blocks[i]._id) { %>
                                                                <% if (!displayedBlock) { %>
                                                                <td scope="row"><%= blocks[i].block_name %></td>
                                                                <% displayedBlock = true; %>
                                                                <% } %>
                                                            <% } %>
                                                            <% } %>
                                                        <% } %>
                                                        <% if (!displayedBlock) { %>
                                                            <td scope="row">No Block Yet</td>
                                                        <% } %>
                                                        <% } %>

                                                    </tr>
                                                    <tr>
                                                        <th>Present Room</th>
                                                        <% let displayedRoom = false; %>
                                                        <% if (allocate) { %>
                                                        <% for (let j = 0; j < allocate.length; j++) { %>
                                                            <% for (let i = 0; i < rooms.length; i++) { %>
                                                            <% if (allocate[j].sid == students[0].sid && allocate[j].roomid == rooms[i]._id) { %>
                                                                <% if (!displayedRoom) { %>
                                                                <td scope="row"><%= rooms[i].room_name %></td>
                                                                <% displayedRoom = true; %>
                                                                <% } %>
                                                            <% } %>
                                                            <% } %>
                                                        <% } %>
                                                        <% if (!displayedRoom) { %>
                                                            <td scope="row">No Room Yet</td>
                                                        <% } %>
                                                        <% } %>

                                                    </tr>
                                                    <tr id="roomRow">
                                                        <th>Allocated Rooms</th>
                                                        <td id="roomName" scope="row"></td>
                                                    </tr>
                                                    
                                                </thead>

                                            </table>
                                            <br>

                                        </div>
                                        <br> <br>
                                    </div>
                                </div>

                            </div><br><br> <br>

                        </div>
                    </div>
                </div>
            </main>
        </main>

    </section>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function() {
    var sid = "<%= students[0].sid %>"; // Assuming you have access to the student's sid
    const host = "<%= host %>"; 
    console.log(sid);
    // Make the AJAX request to the API
    $.ajax({
        url: `http://localhost:5000/students/getroom/${sid}`,
        method: "GET",
        success: function(response) {
            console.log("response", response);
            var roomData = response.room;
            var roomRow = document.getElementById("roomRow");
            var roomNameCell = roomRow.querySelector("#roomName");

            // Clear existing content
            roomNameCell.innerHTML = "";

            // Create the content string
            var content = "";

            for (var i = 0; i < roomData.length; i++) {
                content += roomData[i].roomdata + " (" + roomData[i].allocationRecords + ")";
                if (i < roomData.length - 1) {
                    content += "<br>"; // Add line break between items
                }
            }

            // Set the content in the table cell
            roomNameCell.innerHTML = content;
        },
        error: function(error) {
            console.log("errer", error);
            // Handle the error case if necessary
        }
    });
});

</script>


</main>
<!-- MAIN -->
</section>
<!-- NAVBAR -->

</body>

</html>