<%- include('../required/header.ejs') %>
<style>
.r-detail{
    gap:1rem;
height:50px;
margin-top:-1.4rem;
}
.r-detail-1{
    background:#ff4a131e;
    min-height:60px;
    border-radius:5px;
}
.r-detail-1 h5{
    color:#ff4b13;
    opacity:90%;
}

.profile-contain{
    justify-content:left;
}
@media(max-width:574px){
    .r-detail{
  flex-direction:column;
padding-top:1rem;

}
.icon-member{
    padding-top:3rem;
    margin-left:.2rem;
}
.padd{
    padding-right:.7rem;
    padding-left:.7rem;
}
.heading-search{
        font-size:16px !important;
        margin-top:20px !important;
    }
    .image-section{
        margin-left:-1rem !important;
    }
   
}   
.table{
    padding-top:1rem;
    margin:0 auto;
    overflow-x:auto;
}

.table tr {
  color: #ffffff;
}

.table td{
padding-left:1.5rem;
border: 1px solid #d7c8c8;
  opacity: 90%;
}
.table th, .table td{
  padding: 1rem;
  padding-left:1.5rem;
  vertical-align: top;
  border: 1px solid #d7c8c8;
  opacity: 90%;
}
.table tbody tr {
  color: #4f4f4f;
  
}
.table thead th {
  vertical-align: bottom;
  border: 0px solid #e9e0e0;
  background: #ff4b13;
  opacity: 90%;
}
.image-section{
    width:150px; height:150px;
    border-radius:50%;
   margin-top:-.5rem;
}
@media (max-width:630px){
    .profile-contain{
        display:flex;
        flex-direction:column;
      
    }
    .image-section,.detail-section{
        margin:0 auto !important;
        text-align:left;
        
    }
   
   
}
</style>
<main>
    <main id="block20">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="bx-shadow">
                  
                    <p class="heading-search font-weight-bold text-left  pb-auto">Search
                        result <span> for </span><span><%= students[0].name %></span></p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 search-div2">
                <div class="bx-shadow2">
                    <div class=" proo pl-4 pr-4 ">
                        <div class="r-detail col-lg-12 d-flex justify-content-center">
                            
                        </div>
                        <!--search user -->
                        <br><br>
                        <div class=" col-lg-12 d-flex  profile-contain" style="gap:6rem;">
                            <div class="image-section ml-4"  >
                                <img src="https://drive.google.com/uc?id=<%= students[0].photo %>"  width="180px" height="180px" class="picture-profile"
                                alt="" style="border-radius:50%;  border:2px solid #FF4B13;">
                            </div>
                            <div class="detail-section " style="color:#4f4f4f;">
                                <h6><strong>Name:</strong><span > <%= students[0].name %></span></h6>
                                <h6><strong>SID:</strong><span > <%= students[0].sid %></span></h6>
                                <h6><strong>Course:</strong><span> <%= students[0].specialization %></span></h6>
                                <h6><strong>Year:</strong><span > <%= students[0].year %></span></h6>
                                <h6><strong>Gender:</strong><span> <%= students[0].gender == "F" ? "Female" : "Male"   %></span></h6>
                                <h6><strong>Email:</strong><span> <%= students[0].email %></span></h6>
                            </div>
                        </div>
                        
                        <div class="icon-rooms mt-5 d-flex">
                            <!-- <i class="bx bx-male" style="font-size:32px;"></i> -->
                            <h5 class="mt-2 ml-2" style="color:#4f4f4f; opacity:90%;"><strong>Room details</strong></h5>
                        </div>
                        <div class="padd">
                            <div class="table-responsive "  style="overflow-x:auto;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Year</th>
                                            <th scope="col">Room</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="roomRow">
                                            <td id="year"  scope="row" class="font-weight-bold"></td>
                                            <td id="roomName" scope="row"></td>
                                        </tr>
                                    </tbody>
                                </table>
                    
                        </div>
                    </div>
                        
                        <br><br>
                    </div>
                </div>
            </div>
    </main>
</main>
<br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br> <br>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   $(document).ready(function() {
    var sid = "<%= students[0].sid %>"; // Assuming you have access to the student's sid
    const host = "<%= host %>"; 
    console.log(sid);
    // Make the AJAX request to the API
    $.ajax({
        url: `https://hostel-uuwm.onrender.com/students/getroom/${sid}`,
        method: "GET",
        success: function(response) {
            console.log("response", response);
            var roomData = response.room;
            var roomRow = document.getElementById("roomRow");
            var roomNameCell = roomRow.querySelector("#roomName");
            var yearCell = roomRow.querySelector("#year");

            // Clear existing content
            roomNameCell.innerHTML = "";
            yearCell.innerHTML = ""

            // Create the content string
            var content = "";
            var content1="";

            for (var i = 0; i < roomData.length; i++) {
                content1 += roomData[i].allocationRecords
                content +=  roomData[i].roomdata;
                if (i < roomData.length - 1) {
                    content1 += "<br/>";
                    content += "<br>"; // Add line break between items
                }
            }

            // Set the content in the table cell
            roomNameCell.innerHTML = content;
            yearCell.innerHTML=content1
        },
        error: function(error) {
            console.log("errer", error);
            // Handle the error case if necessary
        }
    });
});

</script>


</body>

</html>
