<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
</head>

<body>
<% for(var i = 0; i < room.length; i++) { %>
  <% if(room[i].status === "available" && room[i].isDisabled){ %>
    <%= room[i].room_name %>
  <% } %>
<% } %>

  <script src="script.js"></script>
</body>

</html> -->

<%- include("../required/header") %>
<style>
    	
    .toastify-success {
      color: rgba(0,143,32);
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      padding:1.5rem 5rem;
      min-width:360px;
      border-radius:30px 0 30px 0;
    }
    .toastify-success .toastify-text {
      border-bottom: 2px solid #00b894;
    }
    .failed, .error{
          color: rgba(215, 42, 42);
        padding:1.5rem 5rem;
        border-radius:30px 0 30px 0;
    }
    .tab tr {
  margin-left: 1rem;
  color: #ffffff;
}
.tab {
  width: 100%;

}
 .tab td,
 .tab th {
  padding: 1rem;
  vertical-align: top;
  border: 1px solid #d7c8c8;
  opacity: 90%;
}
.tab tbody tr {
  color: #4f4f4f;
}
.tab thead th {
  vertical-align: bottom;
  border: 2px solid #e9e0e0;
  background: #ff4b13;
  opacity: 90%;
}
    </style>
<main>
            <main id="block15">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bx-shadow ">
                            <p class="heading-search font-weight-bold text-left pl-2 pb-0">Allocate
                                Students <span> with </span><span>Special Ability </span></p>
                                
                        </div>
                        
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 search-div1">
                        <div class="bx-shadow2">
                            <div class="pad p-5 pl-5 pr-5">
                                <div class="room-avai">
                                    <i class="material-icons icon">female</i>
                                    <h5 class="font-weight-regular ml-5 " style="color:#ff4b13; opacity:90%;">
                                        Available
                                        room
                                    </h5>
                              <button class="disable-alo d-flex justify-content-center" id="view-list">View list</button>

                                </div>
                                <div class="table-responsive " style="overflow-x:auto; ">
                                    <table class="tab p-2 mt-2 text-center" style="margin:0 auto;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Room</th>
                                                <th scope="col">Student name</th>
                                                <th scope="col">Student course</th>
                                                <th scope="col">SID</th>
                                                <th scope="col">Student Year</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% for(var i = 0; i < room.length; i++) { %>
                                            <% if(room[i].status === "available" && room[i].isDisabled && room[i].type === 'girls'){ %>
                                                <% for(var k = 0; k < allocate.length; k++) { %>
                                                  <% if(allocate[k].roomid === room[i]._id) { %>
                                            <tr>
                                                <td scope="row"><%= room[i].room_name %></td>
                                                <td><%= allocate[k].student_name %></td>
                                                <td><%= allocate[k].course %></td>
                                                <td><%= allocate[k].sid %></td>
                                                <td><%= allocate[k].year %></td>
                                                <td><button class="add-bu p-1" id="myButton" data-id="<%= room[i]._id %>"><span><i
                                                                class="far fa-outline fa-user">
                                                            </i></span>
                                                        Add
                                                    </button>
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } %>
                                            <tr>
                                                <td scope="row"><%= room[i].room_name %></td>
                                                <td><%=  %></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><button class="add-bu p-1" id="myButton" data-id="<%= room[i]._id %>"><span><i
                                                                class="far fa-outline fa-user">
                                                            </i></span>
                                                        Add
                                                    </button>
                                                </td>
                                            </tr>
                                            <% } %>
                                          <% } %>


                                        </tbody>

                                    </table>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>

            </main>
        </main>
        <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    </section>

</body>

</main>
<!-- MAIN -->
</section>
<!-- NAVBAR -->

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="script.js"></script>

<!--  -->
<script>
  $("#view-list").click(function() {
    // Show confirmation message using SweetAlert2
    Swal.fire({
      width: 900,
        html: `
				<h5 class="mt-4 pb-3 font-weight-bold" style="color:#ff4b13; opacity:90%;">Female Students</h5>
              <div class="table-responsive "  style="overflow-x:auto; ">
                                    <table class="tab p-2 mt-3 text-center" style="margin:0 auto;">
                                        <thead>
                                            <tr>
                                            
                                                <th scope="col">Name</th>
                                                <th scope="col">Course</th>
                                                <th scope="col">SID</th>
                                                <th scope="col">Year</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% for (var i = 0; i < disableFemale.length; i ++) { %>

                                            <tr>
                                                <td><%= disableFemale[i].name %></td>
                                                <td><%= disableFemale[i].specialization %></td>
                                                <td><%= disableFemale[i].sid %></td>
                                                <td><%= disableFemale[i].year %></td>
                                            </tr>
                                                                                     
                                        <% } %>

                                        </tbody>

                                    </table>
                                    <br>

                                </div>
				`,
				showCancelButton: false,
				showConfirmButton: false,
    }).then((result) => {
        					
        
    });
});

</script>

<!--  -->

<script>
    const myButton = document.querySelectorAll('#myButton');
    myButton.forEach(button => {
        button.addEventListener('click', event => {
            const room = button.getAttribute('data-id');
            // Rest of the code here
            // console.log("id was ", id)
            Swal.fire({
                html: `
				<h5 class="mt-4 pb-3 font-weight-bold" style="color:#ff4b13; opacity:90%;">Add student</h5>
        <div class="input-box active-grey  mt-4">
		                                    <label class="input-label">Name</label>
		                                    <select class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" id="status" style="border-color:#4f4f4f;font-size:16px; color:#4f4f4f;"  >
                                          <option value="" disabled selected>Select student</option>
                                        
                                          <% for (var i = 0; i < disableFemale.length; i ++) { %>
                                             
        
                                          <option value = "<%= disableFemale[i].sid %>"><%= disableFemale[i].name %></option>
                                         
                                          
                                       
                                          <% } %>
		                                     
		                                    </select>
		                                </div>
				`,
                confirmButtonText: 'Allocate',
                confirmButtonColor: '#FF4B13',
                preConfirm: () => {
                  // Retrieve the values of the input fields
                  const sid = document.getElementById('status').value;

                  // Return the values as an object
                  return { sid };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                  	const { sid } = result.value;
                      fetch("/Allocate/disableF", {
  method: "POST",
  headers: {
    "Content-Type": "application/json"
  },
  body: JSON.stringify({ room, sid })
})
  .then(response => {
    if (response.ok) {
      return response.json();
    } else if (response.status === 422){
        throw new Error('Allocation already exist for the given students');
    } else if (response.status === 400){
        throw new Error('The given student Id is not a valid student');
    }
     
    
    else {
      throw new Error('Error Allocation ' + response.statusText);
    }
  })
  .then(data => {
    Toastify({
      text: 'Allocated Successfully',
      duration: 3000,
      gravity: 'top',
      position: 'center',
      backgroundColor: 'rgba(196,293,206,1)',
      className: 'toastify-success',
      stopOnFocus: true,
      onClick: function() { Toastify.hideAll() }
    }).showToast();

    window.location.reload();
  })
  .catch(error => {
    Toastify({
      text: error.message,
      duration: 3000,
      gravity: 'top',
      position: 'center',
      className: "failed",
      backgroundColor: 'rgba(243,209,209,1)',
      stopOnFocus: true,
      onClick: function() { Toastify.hideAll() }
    }).showToast();
  });

                }
            });
        });
    });

    function setFocus(on) {
        var element = document.activeElement;
        if (on) {
            setTimeout(function () {
                element.parentNode.classList.add("focus");
            });
        } else {
            let box = document.querySelector(".input-box");
            box.classList.remove("focus");
            $("input").each(function () {
                var $input = $(this);
                var $parent = $input.closest(".input-box");
                if ($input.val()) $parent.addClass("focus");
                else $parent.removeClass("focus");
            });
        }
    }


</script>
</body>

</html>
